html{
	width: 800px;
	margin: 0 auto;
}
img { 
	width: 100%;
}

h1, h2 {
	font-family: Helvetica, sans-serif;
}

p{
	font-family: "Palatino Linotype", serif;
	font-size: 18px;
}


table {
	width: 100%;
	text-align: left;
}
	
table th {
	border: 2px solid black;
}
			
table td:nth-child(1){
	border: 1px dotted black;
	width: 25%;
}
table td:nth-child(2){
	background-color: #dddddd;
	width: 35%;
	text-align: center;
}
table td:nth-child(3){
	background-color: black;
	color: white;
	font-family: Courier, monospace;
	width: 40%;
}
table td:nth-child(3),
table td:nth-child(1){
	vertical-align: text-top;
}

table span {
	font-weight: bold;
	color: #63da00;
}

a:visited{
	color: aqua;
}

#starSystem {

	height: 700px;
	width: 700px;
	margin: 0 auto;
	position: absolute;
	
	background-image: url("space.jpeg");
	background-size: cover;	
}

#starSystem:hover div:first-of-type,
#starSystem:hover #moonorbit{

	-webkit-animation-name: rotate;
	-webkit-animation-duration: 5000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate;
	-moz-animation-duration: 5000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: rotate;
	-ms-animation-duration: 5000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: rotate;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes rotate{
	from{-webkit-transform: rotate(0deg);}
	to{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate{
	from{-moz-transform: rotate(0deg);}
	to{-moz-transform: rotate(360deg);}
}
@-ms-keyframes rotate{
	from{-ms-transform: rotate(0deg);}
	to{-ms-transform: rotate(360deg);}
}
@keyframes rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

#orbit {
	width: 500px;
	height: 500px;
	border: 2px solid white;
	border-radius: 100%;
	margin: 0 auto;
	margin-top: 100px;
}
#star {
	width: 200px;
	height: 200px;
	border: 5px solid orange;
	border-radius: 100%;
	background-color: yellow;
	margin: 0 auto;
	margin-top: 29.5%

}

#moonorbit{
	width: 80px;
	height: 80px;
	border: 1px solid white;
	border-radius: 100%;
	margin-top: -140px;
	margin-left: -40px;
}

#planet {
	height: 50px;
	width: 50px;
	border: 5px solid blue;
	border-radius: 100%;
	background-color: aqua;
	margin-top: 10px;
	margin-left: 10px;

}

#iojr {
	height: 10px;
	width: 10px;
	background-color: #dddddd;
	border: 1px solid white;
	border-radius: 100%;
	margin-top: -35px;
	margin-left: -6px;
	
}

#teeheeimhidden{
	display: none;
}